absl-py
appnope
backcall
cachetools
certifi
chardet
cycler
decorator
google-auth
google-auth-oauthlib
grpcio
idna
ipykernel
ipython
ipython-genutils
jedi
Jinja2
jupyter-client
jupyter-core
kiwisolver
Markdown
MarkupSafe
matplotlib
numpy
oauthlib
pandas
parso
pexpect
pickleshare
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
Pygments
pyparsing
python-dateutil
pytz
pyzmq
requests
requests-oauthlib
rsa
scipy
seaborn
six
tensorboard
torch
tornado
tqdm
traitlets
urllib3
wcwidth
Werkzeug
